
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    background: rgb(99, 83, 83);
   
   
}
/* الدوال */

/* تنسيقات الراس */
header{
    margin-bottom: 50px;
    width: 100%;
    background-color: #bdbdb6;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* border-bottom: 5px solid black; */
    box-shadow: 0 1px 2px 2px;
}

nav >a{
    margin: 50px;
    text-decoration: none;
    /* justify-content:space-between; */
    text-transform:capitalize;
    color:black;
    font-size: 25px;
    font-weight: bold;
    transition: all 0.5s ease;
}
 nav >a:hover {
    /* background-color: rgb(73, 65, 55); */
    color: rgb(15, 64, 190);
    padding: 0 10px 0 10px;
  letter-spacing: 5px;
    /* border-radius: 5px; */
    /* text-decoration:underline; */
    transform: scale(1.5);
}

/* تنسيقات الحاتب */

.sid h1{
    text-transform: uppercase;
    /* margin: 5px; */
    /* padding: 2px; */
    font-size: 30px;
    font-weight: 700;
}
.sid ul{
    /* border: 1px solid red; */
    /* padding: 5px; */
    margin: 10px;
    list-style: none;
    background-color:#bdbdb6;
    width: 250px;
    /* height: px; */
    box-shadow: 0 5px 10px ;
    transition: all 0.8s ease;
}
.sid li a {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    color: black;
    transition: all 0.8s ease;
}
ul:hover{
 transform: scale(1.1);
 
}
.sid li a:hover{
transform: scale(1.3);
color: royalblue;
}


/* اتسيقات الرئيسه */

main{
    width: 100%;
    margin: 20px;
    padding-top: 30px;
    display:flex;
    justify-content:space-between;
}

.muli{
    /* border: 1px solid red; */
    width: 80%;
    margin-left: 90px;
    padding: 20px;
    position: relative;
    right: 80px;
    background: url(/ship.png) no-repeat ;
    background-size: cover;
    border-radius: 50px;
    box-shadow: 0 10px 20px 10px  ;
}
.muli h2{
    text-align: center;
    font-size: 150px;
    color:black;
    text-transform: uppercase;
    transition: 0.5s;
}
.muli h2:hover{
    letter-spacing: 25px;
    color: rgb(125, 125, 151);
}
.muli h2::first-letter{
    color: #999369;
}

.muli p{
    font-size: 25px;
    margin: 20px;
    padding: 20px;
    letter-spacing: 2px;
}
/* الدراسه */
.etuds{
    /* border: 1px solid red; */
    width: 100%;
    height: 600px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    /* background-color: #288ba9; */
    
   }
 .cuisin{
    border: 1px solid green;
    padding: 10px;
    margin-left: 25px;
    margin-top: 100px;
    height: 50%;
    width: 250px;
    box-shadow: 0 5px 20px 3px  ;
    background: white;
    transition: all 0.5s ease;
}
.cuisin h3{
    text-align: center;
    margin: 1px;
    text-transform: uppercase;
    color: darkcyan;
    background: white;
}
.cuisin p{
    font-size: 25px;
    margin: 5px;
    padding: 5px;
    letter-spacing: 2px;
}
.cuisin:hover{
    height: 400px;
}
.cuisin img{
    border:  1px solid black;
    height: 150px;
    width: 150px;
    position: relative;
    left: 40px;
    top: -50px;
    transition: all 1s;

}
.cuisin:hover img{
    top: -100px;
    border-radius: 50%;
    transform: rotate(720deg);
}
/* المهن */
.profisin{
   border-top: 1px solid black;
    /* background-color: #288ba9; */
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profisin ul{
    text-align: center;
}
.profisin ul li{
    list-style: none;
      margin: 14px 0;

}
.profisin ul:hover li a{
    opacity: 0;
}

.profisin ul li a{
color: #fff;
text-decoration: none;
font-size: 20px;
font-weight: 500;
/* letter-spacing: px; */
background: rgb(181, 181, 225);
padding: 6px 15px;
border-radius: 20px;
display: inline-block;
width: 120px;
transition: 0.5s;
text-transform: uppercase;
position: relative;
z-index: 10;
}

.profisin ul li a:hover{
    transform: scale(1.5);
    background: rgb(99, 99, 188);
    opacity: 1;
}
.profisin ul li::after{
    content: attr(data-text);
    color: #fff;
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translate(-150%,-60%);
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0;
    pointer-events: none;
    letter-spacing: 50px;
    transition: 00.5s;
   
}
.profisin ul li:hover:after{
    opacity: 1;
    letter-spacing: 5px;
}
.profisin ul li::before{
    content:'';
    width: 80px;
    height: 80px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translate(-50% ,-50%);
    border-radius: 50%;
    box-shadow: 0,0,80px,#fbda00;
}
 #up a  img{
    width: 50px;
    border-bottom: 5px solid #fbda00;
 
}


#up{
font-size: 50px;
margin: 20px;
text-align: center;
}


footer{
    width: 100%;
    height: 120px;
    background-color: #bdbdb6;
}
.trin{
   
    display: inline-block;
    /* width: 10px;
    height: 50px; */
   margin-bottom: -110px;
    border: 20px solid transparent;
    border-bottom-color: chartreuse;
    
}
.trin1{
    display: inline-block;
    /* width: 10px;
    height: 50px; */
   margin-bottom: -152px;
   margin-left: -45px;
    border: 20px solid transparent;
    border-top-color: chartreuse;
    
}


/* .spener span{
animation: loadin654 1.7s ease infinite;
}
.spener span:nth-child(2){
    animation-delay: 0.25s;
}
.spener span:nth-child(3){
    animation-delay: 0.5s;
}
.spener span:nth-child(4){
    animation-delay: 0.75s;
}
.spener span:nth-child(5){
    animation-delay: 1s;
}
.spener span:nth-child(6){
    animation-delay: 1.25s;
}
.spener span:nth-child(7){
    animation-delay: 1.5s;
}
.spener span:nth-child(8){
    animation-delay: 2s;
}



@keyframes loadin654{
0%,100%{
transform:translateY(0);
}
50%{
    transform:translateY(-10px);
}
    
} */











/* @media screen and (max-width:800px) {
    .all{
        display: block;
        background-color: rgb(251, 183, 183);
        width: 100%;
        margin-top: 5px;
    }
    body{
        background-color: gray;
    }
}
@media screen and (min-width:801px) and (max-width:1050px) {
    .all{
        display: block;
        width: 100px;
        margin-top: 5px;
        background-color: brown;
    }
    body{
        background-color: aqua;
    }
}
body{
    background: url(../Downloads/53.png)  no-repeat top fixed ;
    height: 500vh;
} */